body {
    font-size: 1.11em;
    background-color: transparent;
    padding: 1em;
}

.btn {
    cursor: pointer;
}

a.btn {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center center;
}

a.btn-circle-plus {
    background-image: url('../icons/circle-plus.svg')
}

a.btn-circle-minus {
    background-image: url('../icons/circle-minus.svg')
}

.tab-container {
    display: block;
    position: relative;
}

.tab-container>input[type="radio"] {
    display: none;
}

.tab-page>label {
    float: left;
    padding: 0.44em;
    background-color: var(--vscode-tab-inactiveBackground);
    color: var(--vscode-tab-inactiveForeground);
    border-left: solid 1px var(--vscode-tab-lastPinnedBorder);
    border-bottom: solid 1px var(--vscode-tab-lastPinnedBorder);
    text-align: center;
    vertical-align: middle;
    height: 2em;
}

.tab-page:last-child>label {
    border-right: solid 1px var(--vscode-tab-lastPinnedBorder);
}

.tab-content {
    position: absolute;
    width: 100%;
    top: 2em;
    padding: 0.44em;
    display: none;
    border-left: solid 1px var(--vscode-tab-lastPinnedBorder);
    border-right: solid 1px var(--vscode-tab-lastPinnedBorder);
    border-bottom: solid 1px var(--vscode-tab-lastPinnedBorder);
}

.tab-container>input[type="radio"]:checked+.tab-page>.tab-content {
    display: block;
}

.tab-container>input[type="radio"]:checked+.tab-page>label {
    border-bottom: solid 1px var(--vscode-tab-activeBackground);
    background-color: var(--vscode-tab-activeBackground);
    color: var(--vscode-tab-activeForeground);
}
