body {
    font-size: 1.11em;
    background-color: transparent;
    padding: 1em;
}

.btn {
    cursor: pointer;
}

a.btn {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center center;
}

a.btn-circle-plus {
    background-image: url('../icons/circle-plus.svg')
}

a.btn-circle-minus {
    background-image: url('../icons/circle-minus.svg')
}

div.tab-container {
    display: block;
    position: relative;
}

div.tab-container>input[type="radio"] {
    display: none;
}

div.tab-page>label {
    float: left;
    padding: 0.44em;
    background-color: var(--vscode-tab-inactiveBackground);
    color: var(--vscode-tab-inactiveForeground);
    border-left: solid 1px var(--vscode-tab-lastPinnedBorder);
    border-bottom: solid 1px var(--vscode-tab-lastPinnedBorder);
    text-align: center;
    vertical-align: middle;
    height: 2em;
}

div.tab-page:last-child>label {
    border-right: solid 1px var(--vscode-tab-lastPinnedBorder);
}

div.tab-content {
    position: absolute;
    width: 100%;
    top: 2em;
    padding: 0.44em;
    display: none;
    border-left: solid 1px var(--vscode-tab-lastPinnedBorder);
    border-right: solid 1px var(--vscode-tab-lastPinnedBorder);
    border-bottom: solid 1px var(--vscode-tab-lastPinnedBorder);
}

div.tab-container>input[type="radio"]:checked+div.tab-page>div.tab-content {
    display: block;
}

div.tab-container>input[type="radio"]:checked+div.tab-page>label {
    border-bottom: solid 1px var(--vscode-tab-activeBackground);
    background-color: var(--vscode-tab-activeBackground);
    color: var(--vscode-tab-activeForeground);
}

table.inputgrid>tr.inputgrid-header>th.inputgrid-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input.inputfield {
    width: 100%;
}

table.inputgrid input.inputfield-addrec {
    font-style: italic;
    background-color: var(--vscode-inputValidation-infoBackground) !important;
    transition: background-color 1000ms linear;
}

table.inputgrid input.inputfield-addrec:not(:placeholder-shown) {
    background-color: var(--vscode-editor-stackFrameHighlightBackground) !important;
}

div.multipanel>h3 {
    margin-top: 1em;
    color: var(--vscode-tab-inactiveForeground);
    border-bottom: 1px solid var(--vscode-tab-inactiveForeground);
}

div.multipanel>span.multipanel-section {
    display: block;
    margin-bottom: 3em;
}

table.inputform,
table.inputgrid {
    width: 99%;
}

table.inputform>tr>td.inputform-field-label {
    width: 22%;
}

table.inputform>tr>td.inputform-field-input {
    width: 77%;
}
