body {
    font-size: 1.11em;
    background-color: transparent;
    padding: 0;
}

a,
.btn {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

a.btn {
    display: inline-block;
    text-decoration: none !important;
    margin: 0;
    margin-top: 0.11em;
    padding: 0;
    margin-left: 0.44em;
    margin-right: 0.44em;
    width: 1.23em;
    height: 1.23em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    vertical-align: middle;
}

a.btn-plus {
    background-image: url('../../node_modules/@vscode/codicons/src/icons/diff-added.svg')
}

a.btn-minus {
    background-image: url('../../node_modules/@vscode/codicons/src/icons/diff-removed.svg')
}

div.tab-container {
    display: block;
    position: relative;
}

div.tab-container>input[type="radio"] {
    display: none;
}

div.tab-page>label {
    float: left;
    padding: 0.44em;
    background-color: var(--vscode-tab-inactiveBackground);
    color: var(--vscode-tab-inactiveForeground);
    border-left: solid 1px var(--vscode-tab-lastPinnedBorder);
    border-bottom: solid 1px var(--vscode-tab-lastPinnedBorder);
    text-align: center;
    vertical-align: middle;
    height: 2em;
}

div.tab-page:last-child>label {
    border-right: solid 1px var(--vscode-tab-lastPinnedBorder);
}

div.tab-content {
    position: absolute;
    width: 100%;
    top: 2em;
    padding: 0.44em;
    display: none;
    border-left: solid 1px var(--vscode-tab-lastPinnedBorder);
    border-right: solid 1px var(--vscode-tab-lastPinnedBorder);
    border-bottom: solid 1px var(--vscode-tab-lastPinnedBorder);
}

div.tab-container>input[type="radio"]:checked+div.tab-page>div.tab-content {
    display: block;
}

div.tab-container>input[type="radio"]:checked+div.tab-page>label {
    border-bottom: solid 1px var(--vscode-tab-activeBackground);
    background-color: var(--vscode-tab-activeBackground);
    color: var(--vscode-tab-activeForeground);
}

table.inputgrid>tr.inputgrid-header>th.inputgrid-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input.inputfield {
    width: 100%;
}

table.inputgrid>tr>td.inputgrid-cell {
    vertical-align: middle;
}

table.inputgrid input.inputfield-addrec {
    font-style: italic;
    background-color: var(--vscode-inputValidation-infoBackground) !important;
    transition: background-color 1000ms linear;
}

table.inputgrid input.inputfield-addrec:not(:placeholder-shown) {
    background-color: var(--vscode-editor-stackFrameHighlightBackground) !important;
}

div.multipanel>h3 {
    margin-top: 1em;
    color: var(--vscode-tab-inactiveForeground);
    border-bottom: 1px solid var(--vscode-tab-inactiveForeground);
}

div.multipanel>span.multipanel-section {
    display: block;
    margin-bottom: 3em;
}

div.inputform div.inputform-field>div.inputform-field-label {
    display: inline-block;
    padding: 0.22em;
    width: 22%;
}

div.inputform div.inputform-field>div.inputform-field-input {
    display: inline-block;
    padding: 0.22em;
    width: 77%;
}

body>div#config_editor_main,
body>div#coll_editor_main {
    margin: 1em;
}

body>div#page_editor_main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a0a0a0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body>div#page_editor_main>svg#page_editor_canvas {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    overflow: visible;
}

body>div#page_editor_main>svg#page_editor_canvas>rect.panel {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 0.77mm;
    opacity: 0.22;
}

body>div#page_editor_main>svg#page_editor_canvas>rect.panel-selected,
body>div#page_editor_main>svg#page_editor_canvas:not(:has(rect.panel-selected))>rect.panel {
    opacity: 1.0;
}

body>div.page-editor-top-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 0.44em 0 #000;
    padding: 0 0.44em;
    white-space: nowrap;
    overflow: hidden;
}

body>div.page-editor-top-toolbar a {
    text-decoration: underline;
}

body>div#page_editor_top_toolbar {
    top: 0;
    background-color: var(--vscode-tab-activeBackground);
    height: 2em;
}

body>div.page-editor-top-toolbar>div.page-editor-top-toolbar-block {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    padding-left: 0.22em;
    padding-right: 0.22em;
    margin-top: 0.22em;
}

body>div.page-editor-top-toolbar>div.page-editor-top-toolbar-block>* {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
}

body>div.page-editor-top-toolbar>div.page-editor-top-toolbar-block-right {
    float: right;
}

body>#page_editor_top_toolbar>#page_editor_top_toolbar_dbg {
    background-color: #d0d0d0;
}

body>div#page_editor_panel_toolbar {
    padding-top: 2.55em;
    padding-bottom: 0.44em;
    background-color: var(--vscode-sideBar-background);
    height: 4.44em;
    font-size: 0.88em;
}

body>div#page_editor_panel_toolbar>div.page-editor-top-toolbar-block,
body>div#page_editor_panel_toolbar>div.page-editor-top-toolbar-block>* {
    vertical-align: bottom;
}

body>div#page_editor_panel_toolbar>div.page-editor-top-toolbar-block>input {
    text-align: right;
    width: 3.11em;
    margin: 0;
    padding: 0;
}
